#brand,#hotsell{
    width:100%;
    height:.87rem;
    padding:.2rem;
    text-align: center;
    border-bottom: 1px solid #d1d1d1;
    font-size: 34px;
    line-height: .46rem;
    color:#000;
}
#brand i{
    float: left;
    line-height: .46rem;
}
#main{
    width:100%;
    height: 100%;
    position:fixed;
    top:.87rem;
    left:0;
    overflow: scroll;
    background:pink
}
 
#main #hotsell{
    color:red
}

#main #nav_wrap{
    
    overflow: hidden;
    background-color: red;
    width: 100%;
    height: 1.52rem
}
    
